/* font-family: 'Comfortaa', cursive;
font-family: 'Noto Sans Arabic', sans-serif; */
body {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

a {
  transition: 0.5s;
  text-decoration: none !important;
}

.container {
  max-width: 1400px;
}

.HeroBanner {
  position: relative;
  overflow: hidden;
}

.image-background {
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0.35) 100%);
  opacity: 0.2;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.image-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: leaves 20s ease-in-out infinite alternate;
}

@keyframes leaves {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.2);
  }
}

.lpheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999999 !important;
  color: #fff;
}

.fancybox-active .lpheader {
  z-index: 9 !important;
}

.image-title {
  position: absolute;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  color: #fff;
}

.T1 {
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 15px;
}

.T2 {
  font-size: 18px;
}

.T3 {
  font-size: 25px;
  font-style: normal;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}


.HeaderBox {
  padding: 15px 0px;
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  align-items: center;
}

.HeaderBoxLeft {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0 15px;
}

.HeaderBoxRight {
  flex: 0 0 70%;
  max-width: 70%;
  padding: 0 15px;
  display: flex;
  justify-content: end;
}

.MenuIcons {
  display: flex;
  align-items: center;
}

.LinkFlex {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 15px;
  justify-content: center;
}

.MenuIcon {
  padding: 5px 15px;
  display: inline-block;
  background-color: #fff;
  color: #000 !important;
  border-radius: 30px;
  line-height: 1;
  border: 2px solid transparent;
  margin-right: 10px;
  min-width: 110px;
  text-align: center;
}

.MenuIcon.PageSwitch {
  font-family: 'Noto Sans Arabic', sans-serif;
}

.PageSwitch .Micon {
  margin-right: 0;
  margin-left: 10px;
}

.MenuIcon:hover {
  background-color: #DF0044;
  border: 2px solid #fff;
}

.Micon {
  height: 22px;
  width: 22px;
  background-size: 100% 100%;
  display: inline-block;
  margin-right: 10px;
}

.Micon.Micon1 {
  background-image: url(../images/call.png);
}

.Micon.Micon2 {
  background-image: url(../images/message.png);
}

.Micon.Micon3 {
  background-image: url(../images/uae.png);
}

.DropDownMenuIcon {
  width: 35px;
  margin-left: 20px;
  text-align: right;
  line-height: 1;
  cursor: pointer;
}

.transitionAn {
  transition: 0.4s !important;
}

.DropDownMenuIcon .DropDownMenuIcon1 {
  background-color: #fff;
  height: 3px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.DropDownMenuIcon .DropDownMenuIcon2 {
  background-color: #fff;
  height: 3px;
  margin-bottom: 8px;
  width: 50%;
  margin-left: auto;
  border-radius: 8px;
}

.DropDownMenuIcon .DropDownMenuIcon3 {
  background-color: #fff;
  height: 3px;
  border-radius: 10px;
}

.DropDownMenuIcon:hover .DropDownMenuIcon1 {
  background-color: #DF0044;
}

.DropDownMenuIcon:hover .DropDownMenuIcon3 {

  background-color: #DF0044;
}

.FormBox {
  padding: 25px;
  backdrop-filter: blur(9px);
  border-radius: 30px;
  background: #0000004f;
}

.FormElemnets {
  margin: 15px 0px 10px 0px;
}

.FormElemnets input,
.FormElemnets select {
  padding: 10px 25px;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: none !important;
  outline: none !important;
  color: #fff;
  font-size: 14px;
}
.FormElemnets select option{
  background-color: #DF0044;
  color: #fff;
}
.FormElemnets input::placeholder {
  color: #fff;
  opacity: 1;
}

.FormElemnets input::-ms-input-placeholder {
  color: #fff;
}

.SubmitBtn {
  background-color: #2C5697;
  color: #fff;
  padding: 15px;
  line-height: 1;
  position: relative;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.SubmitBtn::after {
  content: "";
  width: 8px;
  height: 11px;
  background-size: 100% 100%;
  background-image: url(../images/btnArrow.png);
  display: inline-block;
  margin-left: 20px;
}

.hover1 {
  border: 2px solid transparent;
  transition: 0.5s;
}

.hover1:hover {
  border: 2px solid #fff;
  background-color: #DF0044;
}

.menudropStyle {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  display: none;
  background-color: rgba(44, 86, 151, 0.5);
}

.SideNavStyle {
  width: 500px;
  background-color: #2C5697;
  position: fixed;
  right: -200%;
  top: 0;
  z-index: 11;
  padding: 20px;
  transition: 0.4s;
}

.Lp1,
body {
  transition: 0.5s;
  background-color: #2C5697;
}

.ActivePanel .menudrop {
  display: block;
}

.ActivePanel {
  overflow: hidden;
}

.ActivePanel .SideNav {
  right: 0;
}
.ActivePanel .lpheader ,
.ActiveForm .lpheader ,
.ActivePanel .FooterMediaIcons,
.ActiveForm .FooterMediaIcons ,
.Popup1 .FooterMediaIcons  {
z-index: 9 !important;
}


.ActiveForm .SideForm {
  right: 0
}



.ActiveForm .menudrop1 {
  display: block;
}

.pd-common {
  padding: 60px 0px;
}

.StickHeader .lpheader * {
  transition: 0.5s;
}

.StickHeader .lpheader {
  background: #2C5697;
}

.StickHeader .LogoLink img {
  max-height: 65px;
}

.Ttile1 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.Ttile1::after {
  content: "";
  width: 33.33%;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}

.closeBtn {
  width: 25px;
  height: 25px;
  background-size: 100% 100%;
  background-image: url(../images/close.png);
  cursor: pointer;
  margin-left: auto;
}

.SideMenuItems {
  margin-top: 30px;
}

.SideMenuItems a {
  color: #fff !important;
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
}

.SideMenuItems a:hover,
.SideMenuItems a.active {
  color: #DF0044 !important;
}

.bg-white {
  background-color: #fff;
}

.ModalContent .FormBox {
  padding: 0;
  backdrop-filter: none;
  border-radius: 0;
  background: transparent;
}

.ModalContent .SubmitBtn {
  background-color: #DF0044;
  border: 2px solid #fff;
  max-width: 70%;
}

.ModalContent .T4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.T6 {
  color: #2C5697;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.T7 {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.overflow-hidden {
  overflow: hidden;
}

.GridRow {
  margin-top: 10px;
}

.GridBlockWrap {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 30px;
}

.GridBlock {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
}
.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right : 0;
  height: 95px;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

.fancybox-show-thumbs .fancybox-inner {
  right: 0;
  bottom: 95px;
}
.GridBlock::after {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0.35) 100%);
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.GridBlock:hover {
  transform: scale(1.05);
}

.GridBlock.GridBlock1 {
  background-image: url(../images/w11.jpg);
}

.GridBlock.GridBlock2 {
  background-image: url(../images/w22.jpg);
}

.GridBlock.GridBlock3 {
  background-image: url(../images/w33.jpg);
}

.GridBlock.GridBlock4 {
  background-image: url(../images/w44.jpg);
}

.TextContentBox {
  position: relative;
  z-index: 4;
}

.TcbT1 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.GridBtns {

  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  display: none;
}

.GridBlock:hover .GridBtns {
  display: flex;
}

.GridBtn {
  padding: 10px;
  text-align: center;
  color: #fff;
  flex: 0 0 49%;
  max-width: 49%;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid transparent;
}

.GridBtn.GridBtn1 {
  background-color: #2C5697;
}

.GridBtn.GridBtn2 {
  background-color: #DF0044;
}

.GridBtn:hover {
  border: 2px solid #fff;
}

.bg-grey {
  background-color: #F4F4F4;
}

.SliderWrap {
  margin-top: 40px;
}

.ImageGrid a {
  display: block;

  overflow: hidden;
  position: relative;
  border-radius: 35px;
}

.ImageGrid a img {
  width: 100%;
  padding: 0px 5px;
  border: 2px solid #fff;
  transition: 0.4s;
}

.ImageGrid a img:hover {
  transform: scale(1.05);
}

.fancybox-slide {
  background-color: #2C5697;
}

.ViewBox:after {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0.35) 100%);
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.ViewBoxContent {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  width: 100%;
  padding: 40px;
  color: #fff;
  font-size: 40px;
}

.PlayButon {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 60px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0.35) 100%);
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  transition: 0.4s;
}

.PlayButon:hover {
  background-color: #DF0044;
  opacity: 1;
  filter: none;
  background-image: none;
}

.PlayButon::after {
  content: "";
  width: 26px;
  height: 30px;
  background-image: url(../images/play.png);
  background-size: 100% 100%;
  position: absolute;
  top: 25px;
  left: 28px;
}

.bg3 {
  background-color: #AFBCDF;
}

.PlayText {
  line-height: 1.2;
  margin-bottom: 40px;
}

.T11 {
  color: #2C5697;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.fullwidth {
  width: 100%;
}

.lpfooter {
  background-color: #2C5697;
  color: #fff;
}

.DownloadButton {
  padding: 15px;
  text-align: center;
  color: #fff !important;
  display: block;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #DF0044;
  max-width: 220px;
  position: relative;
  margin: 0 auto;
  margin-top: -25px;
}

.DownloadButton:hover {
  background-color: #2C5697;
  border: 2px solid #fff;
}

.HideSection {
  padding: 20px;
  background-color: #fff;
  position: relative;
  z-index: 99999999 !important;
  margin-top: -45px;
}

.WidgetBox {
  margin-top: 40px;
}

.LogoLinkFooter {
  margin-bottom: 20px;
  display: block;
}

.LogoLinkFooter img {
  max-height: 100px;
}

.FtrTxt1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #fff;
}

.FtrTxt2 {
  font-size: 18px;
  color: #fff;
  line-height: 1.8;
}

.FtrTxt2>div {
  margin-bottom: 10px;
}

.FtrTxt2 a {
  color: #fff !important;
}

.IframeBox iframe {
  height: 270px !important;
  width: 100% !important;
}

.SubscribeForm {
  margin: 15px 0px;
}

.SubscribeForm input {
  width: 100%;
  display: block;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  box-shadow: none !important;
  outline: none !important;
}

.SubscribeForm input::placeholder {
  color: #fff;
  opacity: 1;
}

.SubscribeForm input::-ms-input-placeholder {
  color: #fff;
}

.SubscribeForm button {
  padding: 9px;
  border: 0px solid #e4e4e4;
  position: absolute;
  top: 2px;
  right: 2px;
  color: #2C5697;
  border-radius: 30px;
  min-width: 100px;
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 23px;
  height: 22px;
  background-size: 100% 100%;
}

.icon.ticktock {
  background-image: url(../images/ticktock.png);
  width: 19px;
  height: 22px;
}

.icon.instagram {
  background-image: url(../images/instagram.png);
  width: 23px;
  height: 22px;
}

.icon.facebook {
  background-image: url(../images/facebook.png);
  width: 10px;
  height: 22px;
}

.icon.linkedin {
  background-image: url(../images/linkedin.png);
  width: 22px;
  height: 22px;
}

.icon.twitter {
  background-image: url(../images/twitter.png);
  width: 28px;
  height: 21px;
}
.SocialMediaIcon{
  display: inline-block;
  padding: 10px;
}
.LearMoreBoxStyle{
  padding: 30px;
  background-color: #2C5697;
  position: fixed;
  bottom: -200%;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  z-index: 992;
  min-height: 50vh;
  border-radius: 30px;
  transition: 00.4s;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}
.Popup1 .menudrop2{
  display: block;
}
.Popup1 .lpheader{
  z-index: 9 !important;
}
.Popup1 .LearMoreBoxStyle{
  bottom: 0;
}
.Popup1 .Ttile1{
  text-align: left;
}
.Popup1 .WhyChooseContent {
  font-size: 18px;
  text-align: left;
}
.FooterMediaIcons {
  padding: 10px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 9999999999 !important;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,.17);
  display: none;
}
.mediaFlex {
  display: flex;
  justify-content: space-between;
}
.mediaFlex a {
  display: block;
  flex: 0 0 49%;
  max-width: 49%;
  color: #fff;
  text-align: center;
  border-radius: 20px;
}
.mediaFlex1 {
  background-color: #DF0044;
  padding: 10px;
  font-weight: bold;
}
.mediaFlex2 {
  background-color: #25d366;
  padding: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .FooterMediaIcons {
    display: block;
  }
  .deskOnly{
    display: none !important;
  }
  .LogoLink img{
    max-width: 40px;
  }
  .Micon {
    height: 16px;
    width: 16px;
  }
  .MenuIcon {
    padding: 5px 10px ;
    margin-right: 10px;
    min-width: 70px;
  }
  .image-title {
    position: relative;
    z-index: 8;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    padding: 20px 0px;
  }
  .image-item img{
    height: 50vh;
    animation: none;
  }
  .HeaderBox{
    padding: 10px 0px;
    background-color: #2C5697;
  }
  .DropDownMenuIcon {
    width: 25px;
    margin-left: 10px;
    
  }
  .image-background{
    display: none;
  }
  .T1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .SideNavStyle {
    width: 100%;
  }
  .ModalHeaderFlex .col-md-9{
    flex: 0 0 75%;
    max-width: 75%;
  }
  .ModalHeaderFlex .col-md-3{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .Ttile1 {
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .SideMenuItems a {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .FormBox {
    padding: 15px;
    backdrop-filter: none;
    border-radius: 20px;
    background: #DF0044;
    margin-top: 20px;
  }
  .T3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .T4{
    text-align: center;
  }
  body{
    font-size: 13px;
    line-height: 1.3;
  }
  .FormElemnets input ,
  .FormElemnets select {
    padding: 8px 15px;
  }
  .FormElemnets {
    margin: 15px 0px 0px 0px;
  }
  .SubmitBtn{
    padding: 12px;
  }
  .pd-common {
    padding: 20px 0px;
  }
  .T6{
    font-size: 20px;
  }
  .T7{
    font-size: 15px;
  }
  .GridRow {
    margin-top: 0;
  }
  .GridBlockWrap{
    margin-top: 15px;
  }
  .GridBlock {
    height: 200px;
    padding: 15px;
    font-size: 13px;
  }
  .TcbT1{
    font-size: 18px;
  }
  .GridBtns{
    display: flex;
    margin: 0;
    margin-top: 10px;
  }
  .GridBtn {
    padding: 7px;
  }
  .GridBlock > div{
    width: 100%;
  }
  .SliderWrap {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .DownloadButton {
    padding: 10px;
    max-width: 190px;
    margin-top: 0;
  }
  .WidgetBox {
    margin-top: 15px;
  }
  .ViewBoxContent {
    padding: 20px;
    font-size: 22px;
  }
  .PlayText {
    margin-bottom: 30px;
  }
  .PlayButon {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }
  br{
    display: none;
  }
  .PlayButon::after {
    width: 22px;
    height: 23px;
    top: 15px;
    left: 19px;
  }
  .HideSection {
    padding: 0;
  }
  .IframeBox iframe {
    height: 200px !important;
    margin-bottom: 15px;
  }
  .lpfooter .container{
    text-align: center;
  }
  .FtrTxt1 {
    font-size: 22px;
  }
  .FtrTxt2 {
    font-size: 15px;
  }
  .FtrTxt1 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
  }
  .FtrTxt1::after{
    content: "";
    background-color: #fff;
    width: 40%;
    left: 30%;
    bottom: 0;
    position: absolute;
    height: 2px;
  }
  .LearMoreBoxStyle{
    width: 100%;
    left: 0;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
  }
  .Popup1 .Ttile1 {
    font-size: 18px;
  }
  .Popup1 .WhyChooseContent {
    font-size: 16px;
    margin-top: 15px;
  }
  .lpfooter {
    margin-bottom: 60px;
  }
  .ModalContent .T4{
    font-size: 16px;
  }
  .ModalContent .SubmitBtn {
    max-width: 100%;
  }
}